multipledispatch
libmr
mxnet
face_recognition
joblib
dlt
scikit-image
inflect
python_speech_features
scipy
numpy
pyaudio
pytesseract
picamera
torch
keras
spacy
torchvision
scikit-learn
nltk
matplotlib
cv2

